*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}


body{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/backgroundImage_invert.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
	margin-right: 20px;
	position: fixed;
	top: 0px;
	right: 0px;
	
}

ul li{
	display: inline-block;
	margin: 5px;
}

ul li a{
	text-decoration: none;
	color: #F6E3Ba;
	padding: 5px 20px;
	border: 3px solid #F6E3Ba;
	font-weight: bold;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #F6E3Ba;
	color: #a0522d;
}

ul li.active a{
	background-color: #F6E3Ba;
	color: #a0522d;
}

.logo img{
	float: left;
	width: 240px;
	height: 100px;
	margin-top:35px;
	margin-left: 30px;
}

.title {
	margin-left: 300px;
}

.title h1{
	color: #F6E3Ba;
	font-size: 80px;
	font-weight: bold;
	font-family: Times New Roman;
	border: 3px;
	margin-top: 15px;
	margin-left: 15px;
}

.aboutus{
	color: white;
	text-align: left;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Arial, sans-serif;
	font-size: 20pt;
	margin-top: 60px;
}

.projekti{
	margin-top: 200px;
	color: #F6E3Ba;
	font-size: 20pt;
	font-weight: bold;
	
}

.projekti h1{
	color:white;
	font-size: 60pt;
	text-align: center;
	color: #F6E3Ba;
}

.imgprojekti{
	border-radius: 5%;
	width: 450px;
	height: 450px;
}

.containerProjekti{
	display: flex;
	text-align: center;
}

.krovovi{
	flex: 1;
	order: 1;
	
}

.fasade{
	flex: 1;
	order: 2;
}

.pecala{
	flex: 1;
	order: 3;
}

.kontakt{
	margin-top: 150px;
	color: #F6E3Ba;
	font-size: 20pt;
	text-align:center;
	
}

.kontakt h1{
	font-size: 60pt;
	text-align: center;
	color: #F6E3Ba;
	font-weight: bold;
	}

.kontakt p1{
	font-weight:bold;
	font-size: 30pt;	
	margin: 20px;
}

.kontakt p2{
	font-weight:bold;
}
.kontakt p{
	margin: 20px;
}

.footer {
	text-align: center;
	color: #000;
	background-color: #F6E3Ba;
}
